button.slideshowButton {
  border-radius: 0px;
  border: 1px solid #808080;
  background-color: #EEEEEE;
  height: 50px;
  font-size: 20px;
}

button.slideshowButton:hover {
  background-color: #CCCCCC;
}

button.slideshowButton:active {
  background-color: #333333;
  color: #EEEEEE;
}